{% extends 'base.html' %}

{% block title %}{{char.name}} Characters{% endblock %}

{% block content %}
<h1>{{char.name}}</h1>

<h2>Class</h2>
    {% for _class in char.get_classes() %}
    <li>Level {{_class.level}} {{_class.class_name.capitalize()}}</li>
    {% endfor %}
<h2>Stats</h2>
<ul>
    {% for key, value in stats %}
    <li>{{key}} {{value}}</li>
    {% endfor %}
</ul>

<h2>Spell Lists</h2>
<ul>
    {% for list in char.spell_lists %}
    <a href="/char/{{char.id}}/spell_list/{{list.id}}">{{list.name}}</a>
    {% endfor %}
</ul>
{% if owner %}
<a href="/char/{{char.id}}/edit" class="btn btn-primary">Edit this character!</a>
<a href="/char/{{char.id}}/spell_list/new" class="btn btn-success">Make a spell list!</a>
<form action="/char/{{char.id}}/delete" method="POST">
    <button class="btn btn-danger">Delete this character</button>
</form>
{% endif %}

{% endblock %}