{% extends 'base.html' %}

{% block title %}{{char.name}} Characters{% endblock %}

{% block content %}
<div class="container char-name-container">
    <div class="row justify-content-start align-items-center">
        <h1 id="char-name">{{char.name}}</h1> 
        {% if owner %}
        <a href="/char/{{char.id}}/edit"><i class="fa-solid fa-pen-to-square"></i></a>
        <form action="/char/{{char.id}}/delete" method="POST">
            <button type="submit" class="delete-char"><i class="fa-solid fa-trash"></i></button>
        </form>
        {% endif %}
    </div>
    <div class="row char-class-name">
                {% for _class in char.get_classes() %}
                Level {{_class.level}} {{_class.class_name.capitalize()}}
                {% if char.get_classes()|length > 1 %}, {% endif %}
                {% endfor %}
    </div>

</div>
<div class="container stats-container">
    <div class="row justify-content-start">
        <div class="col-4">
            <div class="row"><h2>Stats</h2></div>
            <div class="row">
                {% for key, value in stats %}
                    <div class="col stat stat-{{key}}"><span class="stat-key">{{key}}</span> {{value}}</div>
                    {% if loop.last %}
                    </div>
                    {% elif loop.index is odd %}
                    </div>
                    <div class="row">
                    {% endif %}
                {% endfor %}
                
            </div>


        <div class="col-4 offset-4">
        <div class="row align-items-center justify-content-start">
            <h2>Spell Lists</h2>
            {% if owner %}
            <a href="/char/{{char.id}}/spell_list/new" class="offset-2"><i class="fa-solid fa-plus add-button"></i></a>
            {% endif %}
        </div>
        <div class="row">
                {% if char.spell_lists|length > 0 %}
                    {% for list in char.spell_lists %}
                        <a href="/char/{{char.id}}/spell_list/{{list.id}}">{{list.name}}</a>
                    {% endfor %}
                {% else %}
                    <p>You have no spell lists for {{char.name.capitalize()}}</p>
                {% endif %}
        </div>
    </div>
</div>

{% endblock %}