{% extends 'base.html' %}

{% block title %}{{char.name}} Spell List{% endblock %}

{% block content %}
<section id="char-details">
    <h1>New {{char.name}} Spell List</h1>

    <h2>Class</h2>
    {% for _class in char.get_classes() %}
    <li>Level {{_class.level}} {{_class.class_name}}</li>
    {% endfor %}
    <h2>Stats</h2>
    <ul>
        {% for key, value in stats %}
        <li>{{key}} {{value}}</li>
        {% endfor %}
    </ul>

    <h2>Available Spell Slots</h2>
    <ul>
        <li>{{slots}}</li>
    </ul>
</section>

<section id="list-creator">

    <section id="avail-spells">
        <h2>Available Spells</h2>

        <div id="spell-cards-div">
            {% for spell in spells %}
            <div class="card spell-card small" id="{{spell.id}}" draggable="True" data-list-position="{{loop.index}}" data-spell-index="{{spell.index}}">
                <h4 class="card-header">{{spell.name}}</h4>
                <div class="card-body">
                    {% for attr, value in spell.serialize_self().items() %}
                      {% if attr != 'name' and value != False%}
                        <span class="{{attr}}">{{attr.capitalize()}}: {{value}}</span>
                      {% endif %}
                    {% endfor %}
                    <p class="card-text"><span class="range">Range: {{spell.range}}</span> <span class="level">Level:
                        {{spell.level}}</span></p>
                </div>
            </div>
            {% endfor %}
        </div>
        
    </section>

    <section id="spell-list-zone">
        <h2>Spell List</h2>
        <form method="POST" id="spell-list-form">
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' %}
            {% for error in field.errors %}
                <span>{{ error }}</span>
            {% endfor %}
    
            {{ field(placeholder=field.label.text) }}
    
        {% endfor %}
        <input type="submit" class="btn btn-success" id="save-button" value="Save List">
        <button class="btn btn-secondary" id="clear-button">Clear List</button>
        <section id="target" class="empty-list">
        </section>
    </form>
    
    </section>
</section>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/static/spell_list.js"></script>

{% endblock %}