{% extends 'base.html' %}

{% block title %}{{list.name}} Spell List{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center align-items-center">
        <h1>Spell List For: {{char.name}}</h1>
    </div>
    <div class="row justify-content-center">
        <p>Created on {{list.date}}</p>
    </div>
    <div class="row justify-content-center align-items-center">
        <h2>{{list.name}}</h2>
        {% if owner %}
        <form action="/spell_list/{{list.id}}/delete" method="POST">
            <button type="submit" class="delete-char" title="Delete spell list"><i class="fa-solid fa-trash"></i></button>
        </form>
        {% endif %}
    </div>
    <p></p>
</div>


<div class="container spell-cards" id="spell-cards">
    {% for spell in list.spells %}
    <div class="card spell-card small" id="{{spell.id}}" draggable="True" data-list-position="{{loop.index}}"
        data-spell-index="{{spell.index}}">
        <h5 class="card-header">{{spell.name}} | <span class="spell-level">Spell Level:
                {{spell.level}}</span>
            {% if spell.damaging %}<i class="fa-solid fa-bolt fa-md damage" title="Damaging"></i></span>
            {% elif spell.healing %}<i class="fa-solid fa-kit-medical fa-md heal" title="Heals"></i>
            {% endif %}
            {% if spell.concentration %}<i class="fa-solid fa-brain fa-md concentration" title="Requires Concentration"></i>{% endif %}
        </h5>
        <div class="card-body">
            <!-- info in bootstrap grid -->
            <div class="container spell-info">
                <div class="row">
                    {% for attr, value in spell.serialize_self().items() %}
                    {% if attr not in ['name', 'spell level', 'damaging', 'healing', 'concentration']
                    and value %}
                    <div class="head-{{attr}} spell-info-head col">{{attr.title()}}</div>
                    {% endif %}
                    {% endfor %}
                </div>
                <div class="row">
                    {% for key, value in spell.serialize_self().items() %}
                    {% if key not in ['name', 'spell level', 'damaging', 'healing', 'concentration'] and
                    value %}
                    <div class="cell-{{key}} col">{{value}}</div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/static/spell_list_details.js"></script>
{% endblock %}